* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}

a, a:visited, a:active {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222222;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

.super-bg {
  min-width: 100%;
  background-color: #122ab2;
  color: white;
}

.super-bg a {
  color: white;
}

.super-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 8px;
}

.super-info p, .super-info a {
  margin: 0 8px 8px 8px;
}

.menu-bg {
  min-width: 100%;
  background-color: #2c70ff;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px 0;
}

.menu a {
  color: white;
}

.logo a {
  font-size: 2.25rem;
  margin: 0 15px;
  font-weight: bold;
}

.links ul {
  display: flex;
  flex-wrap: wrap;
}

.links a {
  font-size: 1rem;
  display: block;
  padding: 8px;
}

.links a:hover {
  color: #122ab2;
  transition: color 300ms ease-in-out;
}

.hello {
  margin: 0 auto;
  max-width: 960px;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
  padding: 60px 10px;
}

.about {
  border-top: 1px solid #122ab2;
  border-bottom: 1px solid #122ab2;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.about-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.about-info h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.about-info p {
  font-size: 1rem;
  line-height: 2;
  color: #7c7c7c;
}

.about-img {
  flex: 1 1 160px;
  margin: 0 10px;
  padding-top: 10px;
}

.products {
  max-width: 960px;
  margin: 60px auto;
}

.products h1 {
  font-size: 3rem;
  margin: 0 10px 60px 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.products-item {
  flex: 1 1 175px;
  margin: 10px;
}

.products-item h2 {
  font-size: 3rem;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 4px solid #ae81ff;
}

.pink {
  border-top: 4px solid #f9265e;
}

.blue {
  border-top: 4px solid #66d9eb;
}